
<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>
<div class="container">
                <div class="container d-flex justify-content-center align-items-center">

<div><h1 class="text-success"> ReGistratiion User</h1></div>
</div>
<form method="post" action="add_user" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="name" class="form-label">Full Name</label>
        <input  type="text" name="name" class="form-control " id="name" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">Confrim Password</label>
        <input type="password" class="form-control" name="confrim_password" id="exampleInputPassword2">
    </div>

    <div class="input-group mb-3">
        <input type="file" 
         class="form-control" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<%- include('../partials/footer')%>